/*
  Version: 1.0.2
  Website: Growth Gang
  Author: ""
*/

//Fonts
$roboto: "Roboto", sans-serif;
@font-face {
  font-family: multi;
  src: url("../assets/fonts/MultiColore.otf");
}

//Colors
$primary: #f727ff;
$white: #ffffff;
$black: #000000;
$border: #484848;

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: $roboto;
  animation: content_reveal 0.5s linear;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $roboto;
}

p,
a {
  font-size: 14px;
  font-weight: 400;
  font-family: $roboto;
}

.header_title {
  font-size: 45px;
  margin: 10px 0px 50px 0px;
  position: relative;
  font-family: multi;

  &:after {
    content: "";
    position: absolute;
    width: 30px;
    height: 10px;
    background: $primary;
    left: 0%;
    bottom: -10%;
  }
}

//Header and Navbar
.nav_header_wrapper {
  overflow: hidden;
  max-height: 900px;
  height: 800px;
  width: 100vw;

  .navbar {
    left: 0;
    padding: 0.8rem 0;
    position: fixed;
    right: 0;
    top: 0;
    transition: background-color 0.3s;
    z-index: 100;

    .navbar-brand {
      font-family: multi;
      font-weight: 400;
      letter-spacing: 0px;
      text-transform: none !important;
      font-size: 18px;
      color: $white;
      display: flex;
      justify-content: center;
      align-items: center;

      i {
        margin-right: 5px;
        color: $primary;
      }
    }

    .navbar-toggler {
      &:focus {
        outline: none;
      }

      i {
        color: $white;
      }
    }
    ul {
      li {
        a {
          font-weight: 600;
          font-family: $roboto;
          text-transform: uppercase;
          text-decoration: none;
          color: $white;
          transition: all 0.3s ease;

          &:hover {
            color: $primary;
          }

          &:focus {
            outline: none;
          }
        }
      }
    }
  }

  .jumbotron {
    background: transparent;
    margin: 30px auto;
    color: $white;
    height: 100%;

    .linear-gradient {
      width: 100vw;
      max-height: 900px;
      height: 800px;
      position: absolute;
      background: rgba(0, 0, 0, 0.6);
      z-index: -1;
      top: 0;
      left: 0;
    }

    video {
      width: 100vw;
      max-height: 900px;
      height: 800px;
      position: absolute;
      left: 0%;
      top: 0%;
      object-position: center;
      object-fit: cover;
      z-index: -2;
    }

    img {
      margin: 15px 0px;
    }
    h1 {
      @extend .header_title;
    }

    p {
      font-size: 18px;
      width: 70%;
    }
  }
}

//How
.how {
  overflow: hidden;
  position: relative;
  background-color: #e8ebf0;
  max-height: 700px;
  height: 700px;
  width: 100%;
  margin: 0;

  .how_content {
    position: relative;
    z-index: 1;
    h1 {
      @extend .header_title;
    }
    p {
      width: 70%;
      font-size: 18px;
    }
  }
  #web_img {
    display: block;
    img {
      width: 70%;
      position: absolute;
      right: -15%;
      top: 50%;
      transform: translate(-5%, -50%);
      animation: how_img_reveal 1s linear;
    }
  }

  #mobile_img {
    display: none;
    animation: how_img_reveal 1s linear;
  }
}

//Startup
.startup {
  max-height: 700px;
  height: 700px;
  position: relative;
  overflow: hidden;
  background-image: linear-gradient(
    135deg,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0.8)
  );
  color: $white;

  .startup_content {
    position: relative;
    z-index: 1;
    h4 {
      @extend .header_title;
      font-size: 22px;

      &::after {
        bottom: -30%;
      }
    }
    h1 {
      margin: 120px 100px 10px 0px;
      font-family: multi;
    }
    p {
      width: 70%;
      font-size: 18px;
      padding: 0px;
      margin-top: 10px;
    }
  }
  .startup_img {
    img {
      width: 80%;
      position: absolute;
      left: 20%;
      bottom: 0%;
      z-index: 0;
    }
  }
}

//Our work
.our_work {
  max-height: 600px;
  height: 600px;

  h1 {
    color: #b9b9b9;
    font-weight: 400;
    margin: 30px auto 50px auto;

    span {
      color: $black;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        width: 40px;
        height: 8px;
        background: $primary;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  img {
    width: 70%;
    filter: grayscale(100%);
    transition: all 0.3s ease;

    &:hover {
      filter: grayscale(0);
    }
  }
}

//Our methods
.our_methods {
  background-image: url("../assets/images/our-methods-bg.svg");
  max-height: 700px;
  height: 800px;
  background-position: center;
  background-size: auto;
  color: $white;
  background-repeat: no-repeat;
  padding: 2rem 0.3rem;

  h4 {
    @extend .header_title;
    font-size: 22px;
    margin-bottom: 100px;

    &:after {
      bottom: -30%;
      background: $black;
    }
  }

  h1 {
    margin: 0px 0px 15px 0px;
    font-family: multi;
  }

  p {
    width: 70%;
    margin: 10px 0px 10px 0px;
    font-size: 18px;
  }
  img {
    width: 70%;
    object-fit: contain;
  }

  .col-md-5 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

//Contact
.contact {
  height: auto;
  background: $black;
  max-height: 500px;
  height: 500px;

  .contact_content {
    color: $white;
    h1 {
      font-weight: 400;
      margin: 15px 0px;
      font-family: multi;
    }

    h5 {
      margin: 10px 0px;
      @extend .header_title;
      font-size: 22px;

      &:after {
        bottom: -30%;
      }
    }
  }

  .contact_form {
    input {
      margin: 30px 0px;
      width: 80%;
      padding: 12px 0px;
      background: transparent;
      border: none;
      border-bottom: 2px solid $border;
      font-family: $roboto;
      border-radius: 0px;
      outline: none;
      transition: all 0.3s ease;
      color: $white;

      &:hover {
        border-bottom-color: $white;
      }

      &:focus {
        outline: none;
        box-shadow: none !important;
      }
    }

    button {
      padding: 10px 30px;
      border: 2px solid #707070;
      font-size: 14px;
      text-transform: capitalize;
      font-weight: 500;
      background: transparent;
      border-radius: 0px;
      font-family: $roboto;
      color: #838383;
      transition: all 0.3s ease;

      &:hover {
        background: $primary;
        color: $white;
        border-color: $primary;
      }

      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
  }
}

//Footer
.footer {
  height: auto;
  background: #525252;
  color: $white;
  padding: 2rem 0.3rem 1rem 0.3rem;

  .footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #a0a0a0;
    padding: 0px;
    margin-bottom: 20px;
    padding-bottom: 1rem;
    flex-wrap: wrap;
  }

  .footer-nav {
    flex: 1;
  }

  .footer-copyrights,
  .footer-icons,
  .footer-nav {
    margin: 10px 0px;
    justify-content: flex-start;
    a {
      text-decoration: none;
    }
    p,
    i {
      margin: auto 15px;
      font-weight: 600;
      cursor: pointer;
      text-decoration: none;
      color: $white;
      font-size: 16px;

      &:first-child {
        margin-left: 0px;
      }
      &:hover {
        color: $primary;
        transition: all 0.3s ease;
      }
    }
    i {
      font-size: 1.5rem !important;
      font-weight: normal;
    }
    #copy_rights {
      color: #a9a9a9;
    }
  }

  .footer-copyrights {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0px;
    margin: 0px;

    p {
      margin-right: 0px;
    }
  }

  .col-md-12 {
    #top {
      cursor: pointer;
      i {
        padding: 1rem;
        width: 30px;
        height: 30px;
        border: 1px solid #a0a0a0;
        border-radius: 50%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin: auto 10px;
      }
    }
  }
}

@media (max-width: 991px) {
  .header_title {
    font-size: 32px;
  }
  .nav_header_wrapper {
    .jumbotron {
      img {
        width: 50px;
      }
    }
  }
  .how {
    height: 450px;
  }
  .our_work {
    height: 450px;
    h1 {
      font-size: 32px;
      margin: 5px auto 60px auto;
    }
  }
  .startup {
    height: auto;
    padding: 2rem 0.3rem;

    .startup_content {
      h4 {
        &::after {
          bottom: -15%;
        }
      }
      p {
        width: 80%;
      }
      h1 {
        margin: 60px 100px 10px 0px;
      }
    }
  }

  .our_methods{
    height: 450px;
    h4{
      margin-bottom: 60px;
    }
  }
}

@media (max-width: 768px) {
  p {
    font-size: 14px !important;
  }
  .nav_header_wrapper {
    height: auto;
    .navbar-collapse {
      background-color: rgba(0, 0, 0, 1);
    }
    .navbar-brand {
      margin-left: 15px;
    }
    ul {
      li a {
        margin-left: 15px;
      }
    }
    .jumbotron {
      p {
        width: 100%;
      }
    }
  }
  .how {
    height: auto;
    padding: 1.5rem 0.3rem;

    .how_content {
      h1 {
        margin-bottom: 30px;
      }
      p {
        width: 100%;
      }
    }
    #web_img {
      display: none;
    }
    #mobile_img {
      display: block;
    }
    #mobile_img {
      img {
        width: 80%;
        margin: 20px auto;
      }
    }
  }
  .startup {
    height: auto;
    padding: 2rem 0.3rem;
    .startup_content {
      h1 {
        margin-right: 50px;
      }
      p {
        width: 100%;
      }
    }
  }
  .our_methods {
    height: auto;
    padding: 2rem 0.3rem;
    img {
      width: 35%;
      margin: 20px auto;
    }

    .our_methods-text {
      width: 40%;
    }

    h4 {
      margin: 50px 0px 80px 0px;
    }

    p {
      width: 100%;
    }
  }
  .our_work {
    height: 400px;
    h1 {
      font-size: 32px;
      margin: 5px auto 30px auto;
    }
  }
  .contact {
    position: relative;
    height: auto;
    padding: 2rem 0.3rem;
    .contact_content {
      h1 {
        font-size: 32px;
      }
      h5 {
        font-size: 20px;
      }
    }
    .contact_form {
      input {
        width: 100%;
      }
    }
  }
  .footer {
    height: auto;
    padding: 1.5rem 0.3rem 1rem 0.3rem;
  }
}
@media (max-width: 630px) {
  .nav_header_wrapper {
    .navbar {
      .navbar-brand {
        margin-left: 25px;
      }
      ul {
        li a {
          margin-left: 25px;
        }
      }
    }
  }
  .how {
    .how_img {
      img {
        right: 50%;
        transform: translate(50%, 50%);
        top: 55%;
      }
    }
  }
}
@media (max-width: 560px) {
  .nav_header_wrapper {
    .navbar {
      .navbar-brand {
        margin-left: 30px;
      }
      ul {
        li a {
          margin-left: 30px;
        }
      }
    }
  }
  .nav_header_wrapper {
    .jumbotron {
      margin-top: 50px;
    }
  }
  .how {
    padding: 1.5rem 0.3rem;
    .how_img {
      img {
        right: 50%;
        transform: translate(50%, 50%);
        top: 50%;
      }
    }
  }
  .startup {
    .startup_content {
      h4 {
        font-size: 20px;
      }
      h1 {
        font-size: 32px;
      }
    }
  }
  .our_work {
    height: auto;
    padding: 2.5rem 0.3rem;

    h1 {
      font-size: 32px;
      margin: 5px auto 30px auto;
    }
  }
  .our_methods {
    height: auto;
    h4 {
      margin: 10px 0px 70px 0px;
      font-size: 20px;
    }
    h1 {
      font-size: 32px;
    }
    img {
      width: 35%;
      margin: 20px auto;
    }
    .our_methods-text {
      width: 50%;
    }
  }
  .contact {
    .contact_content {
      h1 {
        font-size: 32px;
      }
      h5 {
        font-size: 20px;
      }
    }
  }
}
@media (max-width: 450px) {
  .nav_header_wrapper {
    .jumbotron {
      margin-top: 50px;
    }
  }
  .how {
    .how_img {
      img {
        right: 50%;
        transform: translate(50%, 60%);
        top: 55%;
      }
    }
  }
  .our_methods {
    img {
      width: 40%;
    }
    .our_methods-text {
      width: 50%;
    }
  }
  .footer {
    padding: 1rem 0.3rem 0.5rem 0.3rem;
  }
}
@media (max-width: 350px) {
  .how {
    .how_img {
      img {
        right: 50%;
        transform: translate(50%, 60%);
        top: 65%;
      }
    }
  }
  .our_methods {
    img {
      width: 50%;
    }
    .our_methods-text {
      width: 50%;
    }
  }
}

@keyframes content_reveal {
  from {
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  to {
    opacity: 1;
    transition: opacity 0.5s ease;
  }
}
@keyframes how_img_reveal {
  from {
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  to {
    opacity: 1;
    transition: opacity 0.5s ease;
  }
}
